.payment-bg {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background: url("https://res.cloudinary.com/dujnrrugq/image/upload/v1685618428/galaxy_explorer_1_3_ivfc5q.png");
  background-size: cover;
  background-position: center;
}
