<h1>Editing galaxyexplorer</h1>

<%= render "form", galaxyexplorer: @galaxyexplorer %>

<br>

<div>
  <%= link_to "Show this galaxyexplorer", @galaxyexplorer %> |
  <%= link_to "Back to galaxyexplorers", galaxyexplorers_path %>
</div>
