<html>
    <head>
        <title>Animated Background</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <div class="star_background">
      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>
      <div class="title"></div>
    </div>
    </body>
</html>
