
<!DOCTYPE html>
<html>

<head>
  <title>Galaxy Explorer Homepage</title>
  <link rel="stylesheet" href="">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&display=swap">
</head>
<body>
<div class="hero">

  <video autoplay loop muted class="homepage-video">
<source src="https://res.cloudinary.com/dblraorbo/video/upload/v1685566764/Galaxy-Explorer/home-background.mp4" type="video/mp4">
</video>

  <nav>

    <a href="/">
  <img src="https://res.cloudinary.com/dujnrrugq/image/upload/v1685691583/fotor_2023-6-2_11_39_28_ajokjb.png" class="logo">
</a>

    <%# <%= link_to image_tag('https://res.cloudinary.com/dujnrrugq/image/upload/v1685450979/Screenshot_2023-05-30_at_15.28.59-PhotoRoom.png-PhotoRoom_a1bmdi.png'), root_path, class:"logo" %>

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/planets">PLANETS</a></li>
      <li><a href="/users/sign_up">JOIN US</a></li>
    </ul>
  </nav>

  <div class="content">
    <h1>Join the Galactic Adventure!</h1>
    <a href="/planets" class="explore-button">Explore Planets</a>
  </div>
</div>

</html>
