<!DOCTYPE html>
<html>

<head>
  <title>Galaxy Explorer Homepage</title>
  <link rel="stylesheet" href="">
</head>
<body>
<div class="hero">

<video autoplay loop muted class="homepage-video">
<source src="https://res.cloudinary.com/dblraorbo/video/upload/v1685566764/Galaxy-Explorer/pexels-samphan-korwong-6961824-3840x2160-30fps_fpubfy.mp4" type="video/mp4">
</video>

<nav>
<img src="https://res.cloudinary.com/dujnrrugq/image/upload/v1685450979/Screenshot_2023-05-30_at_15.28.59-PhotoRoom.png-PhotoRoom_a1bmdi.png" class="logo">
<ul>
<li><a href="#">HOME</a></li>
<li><a href="/planets">PLANETS</a></li>
</ul>
</nav>
<div class="content">
<h1>Join the Galactic Adventure!</h1>
<a href="/planets" class="explore-button">Explore Planets</a>
</div>
</div>

<div class="container-fluid my-12" style="padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0;">

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331;">
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Stay connected via social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">ABOUT</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Welcome to Galaxy Explorer, your gateway to the wonders of the universe. With our website, you can embark on extraordinary journeys to explore the mysteries of outer space. Discover breathtaking destinations, from distant planets to mesmerizing nebulae. Our website provides a unique opportunity to experience the grandeur and beauty of the cosmos right from the palm of your hand. Whether you are an avid space enthusiast or a casual observer, our website offers a range of features to satisfy your curiosity.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@galaxyexplorer.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="#"
         >GALAXYEXPLORER.COM</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>

</html>
