<body class="payment-bg">
  <div class= "container w-25 shadow p-5 rounded text-center" style = "background-color: rgba(255, 255, 255, 0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1>Payment details</h1>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="validationServer01" class="form-label">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" value="" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationServer02" class="form-label">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" value="" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Credit
        </label>
      </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Online payment
        </label>
      </div>

      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input is-valid" type="checkbox" value="" id="validCheck3" aria-describedby="validCheck3Feedback" required>
          <label class="form-check-label" for="validCheck3">
            Agree to terms and conditions
          </label>
          <div id="validCheck3Feedback" class="valid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12">
      <a class= "btn btn-primary" href = "thanks" type="submit">Submit</a>
      </div>
    </form>

  </div>

</body>
