 <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Email</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
     Email
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
