<body class="payment-bg">
<div class="container w-25 shadow p-5 rounded text-center" style = "background-color: rgba(255, 255, 255, 0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>Thank You</h1>
<h2><%= @user.first_name %></h2>
<h2><%= @user.last_name %></h2>

</div>
  <div class="flash flash-success alert alert-dismissible fade show text-white" role="alert">
  <span><strong>Yay!</strong> 🎉 Welcome in the twilight zone. You are about to enter another dimension...</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
</body>
